<!DOCTYPE HTML>
<html>

<%- include('../partials/head') %>

<body>
    <main>
        <section class="section--error">
            <h1>Whoops, something broke!</h1>
            <h3><%= err.message %></h3>
            <p>Double check your <b>.env</b> configuration and make sure your car emulator is open.</p>
        </section>
    </main>
</body>

</html>

