<!DOCTYPE HTML>
<html>

<%- include('../partials/head') %>

<body>
    <main>
        <section class="section--login">
            <a href="<%= loginUrl %>">LOG IN</a>
        </section>
    </main>
</body>

</html>

