<%if (prop) { %>
<div class="property">
  <span class="property__label"><%= label %></span>
  <span class="property__value"><%= prop.value %> </span>
  <span class="property__unit"><%= prop.unit %></span>
</div>
<% } %>
