<%if (value !== null && value !== undefined) { %>
    <div class="property">
        <span><%= label %></span>
        <span><%= typeof value === 'object' ? Object.values(value)[0] : value %> <%= unit %></span>
    </div>
<% } %>
