body {
    font-family: 'Helvetica';
    background-color: #65696f1f;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .header--actions form {
    display: inline-block;
}

button {
    background: white;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 4px 18px;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
}

h2 {

}

h4 {
    margin: 20px 0 10px;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
}


.car-grid {
    display: grid;
    grid-gap: 2vw;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.card {
    box-shadow: 0 12px 16px 0 rgba(51, 51, 51, 0.15);
    background: white;
    border-radius: 4px;
    padding: 20px 40px;
}

.section--tires {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

.section--diagnostics {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.section--doors {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.tires--list,
.doors--list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.tires--list .property,
.doors--list .property {
    margin: 10px 0;
}

.property {
    margin: 14px 0;
}

.property span:first-child {
    font-size: 14px;
    color: #888888;
    font-weight: 300;
}

.property span:last-child {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    padding-left: 6px;
}
