<div>
    <form action="/logout" method="post">
        <button type="submit">LOG OUT</button>
    </form>

    <div class="car-grid">
        <section class="card section--tires">
            <h2>Tires</h2>
            <div class="tires--list">
                {{#diagnostics.tires}}
                    <div class="tire--block">
                        <h4>{{label}}</h4>
                        <div class="property">
                            <span>Pressure</span>
                            <span>{{pressure}}</span>
                        </div>
                        <div class="property">
                            <span>Temperature</span>
                            <span>{{temperature}}</span>
                        </div>
                        <div class="property">
                            <span>RPM</span>
                            <span>{{rpm}}</span>
                        </div>
                    </div>
                {{/diagnostics.tires}}
            </div>
        </section>

        <section class="card section--diagnostics">
            <h2>Diagnostics</h2>
            <div>
                <div class="property">
                    <span>Mileage</span>
                    <span>{{diagnostics.mileage}} km</span>
                </div>
                <div class="property">
                    <span>Engine RPM</span>
                    <span>{{diagnostics.engineRPM}} RPM</span>
                </div>
                <div class="property">
                    <span>Oil temperature</span>
                    <span>{{diagnostics.engineOilTemperature}} °C</span>
                </div>
                <div class="property">
                    <span>Fuel level</span>
                    <span>{{diagnostics.fuelLevel}} %</span>
                </div>
                <div class="property">
                    <span>Estimated range</span>
                    <span>{{diagnostics.estimatedRange}} km</span>
                </div>
                <div class="property">
                    <span>Current fuel consumption</span>
                    <span>{{diagnostics.currentFuelConsumption}} l</span>
                </div>
                <div class="property">
                    <span>Average fuel consumption</span>
                    <span>{{diagnostics.averageFuelConsumption}} l</span>
                </div>
                <div class="property">
                    <span>Washer fluid level</span>
                    <span>{{diagnostics.washerFluidLevel}}</span>
                </div>
                <div class="property">
                    <span>Battery voltage</span>
                    <span>{{diagnostics.batteryVoltage}} V</span>
                </div>
                <div class="property">
                    <span>AdBlue level</span>
                    <span>{{diagnostics.adblueLevel}} l</span>
                </div>
                <div class="property">
                    <span>Distance since reset</span>
                    <span>{{diagnostics.distanceSinceReset}} km</span>
                </div>
                <div class="property">
                    <span>Distance since start</span>
                    <span>{{diagnostics.distanceSinceStart}} km</span>
                </div>
            </div>
        </section>

        <section class="card section--doors">
            <header class="header">
                <h2>Doors</h2>

                <div class="header--actions">
                    <form action="/doors/unlock" method="post">
                        <button type="submit">Unlock</button>
                    </form>
                    <form action="/doors/lock" method="post">
                        <button type="submit">Lock</button>
                    </form>
                </div>
            </header>
            <div class="doors--list">
                {{#doors}}
                    <div class="door--block">
                        <h4>{{label}}</h4>
                        <div class="property">
                            <span>State</span>
                            <span>{{state}}</span>
                        </div>
                        <div class="property">
                            <span>Lock</span>
                            <span>{{lock}}</span>
                        </div>
                    </div>
                {{/doors}}
            </div>
        </section>
    </div>
</div>